<div class="row">
  <div class="col-2"></div>
  <div class="col">
    <%= form_for Question.new, remote: true do |f| %>
      <div class="form-group">
        <p>Title:</p>
        <%= f.text_field :title, autofocus: true, class:"form-control" %>
      </div>
      <div class="form-group">
        <p>Detailed description of the situation:</p>
        <%= f.text_area :body, class:"form-control" %>
      </div>
      <%= f.submit "Ask a Question",  class: "btn btn-sm btn-primary" %>
    <% end %>
  </div>
  <div class="col-2"></div>
</div>
