<button class="btn btn-sm btn-primary mb-3" type="button" data-toggle="collapse" data-target="#questionNewBtn" aria-expanded="false" aria-controls="collapseExample">
  Create Question
</button>

<%= render 'questions/form' %>

<div id="questions">
  <%= render 'questions/questions', :locals => @questions %>
</div>