<button class="btn btn-sm btn-primary pull-right" id="questionNewBtn">Create Question</button>

<div id="questionForm" style="display: none">
  <%= render 'questions/form' %>
</div>

<div id="questions">
  <%= render 'questions/questions', :locals => @questions %>
</div>